<div class="container">
    <div>
            <form #userForm="ngForm">
                  <div class="row">
                        <div class="col-md-10 offset-md-1">
                              <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control gray" id="username" required
                                          [(ngModel)]="user.username" name="name"
                                          #name="ngModel">
                                    <div [hidden]="name.valid || !name.touched"
                                          class="alert alert-danger">
                                          Username is required
                                    </div>
                              </div>
                        </div>
                  </div>


                  <div class="row">
                        <div class="col-md-10 offset-md-1">
                              <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control gray" id="password" required
                                          [(ngModel)]="user.password" name="password"
                                          #password="ngModel">
                                    <div [hidden]="password.valid || !password.touched"
                                          class="alert alert-danger">
                                          Password is required
                                    </div>       
                              </div>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-md-10 offset-md-1">
                              <div class="form-group">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control gray" id="firstName" required
                                          [(ngModel)]="user.firstName" name="firstName"
                                          #firstName="ngModel">
                                    <div [hidden]="firstName.valid || !firstName.touched"
                                          class="alert alert-danger">
                                          First name is required
                                    </div>   
                              </div>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-md-10 offset-md-1">
                              <div class="form-group">
                                    <label for="lastName">Last name</label>
                                    <input type="lastName" class="form-control gray" id="lastName" required
                                          [(ngModel)]="user.lastName" name="lastName"
                                          #lastName="ngModel">
                                    <div [hidden]="lastName.valid || !lastName.touched"
                                          class="alert alert-danger">
                                          Last name is required
                                    </div>   
                              </div>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-md-10 offset-md-1">
                              <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control gray" id="address" required
                                          [(ngModel)]="user.address" name="address"
                                          #address="ngModel">
                                    <div [hidden]="address.valid || !address.touched"
                                          class="alert alert-danger">
                                          Address is required
                                    </div>   
                              </div>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-md-10 offset-md-1">
                              <div class="form-group">
                                    <label for="age">Age</label>
                                    <input type="text" class="form-control gray" id="age" required
                                          [(ngModel)]="user.age" name="age"
                                          #age="ngModel">
                                    <div [hidden]="age.valid || !age.touched"
                                          class="alert alert-danger">
                                          Age is required
                                    </div>   
                              </div>
                        </div>
                  </div>
                  <br/>
                  <div class="row">
                        <div class="col-md-10 offset-md-1">
                              <div class="form-group">
                                    <div class="dropdown" id="gender">
                                          <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                                            Gender
                                          </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Male</a>
                                            <a class="dropdown-item" href="#">Female</a>
                                          </div>
                                    </div> 
                              </div>
                        </div>
                  </div>

                  <br/>  
                  <br/>
                  <div class="row">
                        <div class="col-md-10 offset-md-1">
                              <button type="submit" class="btn btn-success btn-block" [disabled]="!userForm.form.valid" (click)="register()">Register</button>
                        </div>
                  </div>

            </form>
      </div>
      <br/>
      <br/>
</div>
