<div class="row">
    <div class="col-md-10 offset-md-1" >
        <div class="card post">     
            <div class="card-header-sm postBar">
                <div class="row">
                    <div class="col-md-10"style="margin-top: 6px;">
                        <h3>{{tweet.username}}</h3>
                    </div>
                </div>                
            </div>
            <hr style="margin: 0px; padding: 0px; border: 1px solid #AAB8C2;"/>
            <div class="card-body">
                <div class="row">
                    <p class="card-text">{{tweet.text}}</p>
                </div>             
            </div>
        </div>
    </div>
</div>
<br/>