<div class="row">
    <div class="col-md-8 offset-md-2" >
        <div class="card post">     

            <div class="card-header-sm postBar">
                <div class="row">
                    <div class="col-md-10"style="margin-top: 6px;">
                        <h3>{{tweet.username}}</h3>
                    </div>
                </div>                
            </div>

            <hr style="margin: 0px; padding: 0px; border: 1px solid #AAB8C2;"/>

            <div class="card-body">
                <div class="row">
                    <p class="card-text">{{tweet.text}}</p>
                </div>   
                <div class="row">
                    <div class="col-md-1"style="margin-top: 20px; ">
                        <button type="button" class="btn btn-primary"(click)="likeTweet()" *ngIf="store.getLoginStatus() == true">Like</button>
                        <button type="button" class="btn btn-primary"(click)="redirect()" *ngIf="store.getLoginStatus() == false">Like</button>
                    </div> 
                    <div class="col-md-1"style="margin-top: 23px;">
                        <h4 class="card-text likeNumber" (click)="openLg(content)">{{tweet.likes}}</h4>
                    </div>            
                </div>          
            </div>

        </div>
    </div>
</div>
<br/>
<ng-template class="popup" #content let-modal>
    <div class="modal-header">
        <h2>Likes</h2> 
      <button type="button" class="btn" (click)="modal.dismiss('Close click')">X</button>
    </div>
    <div class="modal-body">
      <div class="containter">
        <div *ngFor="let user of users; index as i; first as isFirst">
            <div>
                <h3 style="margin-bottom: 10px;">{{user}}</h3>
            </div>
        </div>
      </div>
    </div>
  </ng-template>
