<br/>
<div class="container">
    <div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label for="username">Username</label>
                <input type="text" class="form-control gray" id="username" readonly>
            </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control gray" id="firstName" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control gray" id="lastName" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="address">Address</label>
                    <input type="text" class="form-control gray" id="address" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="age">Age</label>
                    <input type="text" class="form-control gray" id="age" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="gender">Gender</label>
                    <input type="text" class="form-control gray" id="gender" readonly>
                </div>
        </div>

    </div>
</div>
<br/>




