<br/>
<div class="container" *ngIf="store.getRole() == 'regular'">
    <div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label for="username">Username</label>
                <input type="text" class="form-control gray" id="username" value="{{profile.username}}" readonly>
            </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control gray" id="firstName" value="{{profile.firstName}}" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control gray" id="lastName" value="{{profile.lastName}}" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="address">Address</label>
                    <input type="text" class="form-control gray" id="address" value="{{profile.address}}" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="age">Age</label>
                    <input type="text" class="form-control gray" id="age"  value="{{profile.age}}"readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="gender">Gender</label>
                    <input type="text" class="form-control gray" id="gender"  value="{{profile.gender}}" readonly>
                </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <button type="button" class="btn btn-primary" (click)="redirectToChangePass()">Change password</button>
            </div>
        </div>

        <br/>

        <form #userForm="ngForm"  *ngIf="store.getConfirmed() == false">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <label for="code">Confirmation code</label>
                        <input type="text" class="form-control" id="code"
                        required
                        [(ngModel)]="user.code" name="code"
                        #code="ngModel" pattern="^[0-9]+$">
                        <div [hidden]="code.valid ||!code.touched"
                            class="alert alert-danger">
                            Code is required and can only contain numbers.
                        </div>
                        <p (click)="resend()" id="resendCCode">Resend confirmation code.</p>
                    </div>
                </div>       
            </div>
    
            <br/>
            <br/>

            <div class="row">      
                <div class="col-md-10 offset-md-1">
                  <button type="button" class="btn btn-success btn-block" [disabled]="!userForm.form.valid" (click)="confirm()">Confirm</button>
                </div>
            </div>
        </form>

    </div>
</div>
<br/>
<div class="container" *ngIf="store.getRole() == 'business'">
    <div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label for="username">Username</label>
                <input type="text" class="form-control gray" id="username" value="{{profile.username}}" readonly>
            </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="companyName">Company name</label>
                    <input type="text" class="form-control gray" id="companyName" value="{{profile.companyName}}" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="email">Email</label>
                    <input type="text" class="form-control gray" id="email" value="{{profile.email}}" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="webSite">Web site</label>
                    <input type="text" class="form-control gray" id="webSite" value="{{profile.webSite}}" readonly>
                </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <button type="button" class="btn btn-primary" (click)="redirectToChangePass()">Change password</button>
            </div>
        </div>

        <br/>

        <form #userForm="ngForm" *ngIf="store.getConfirmed() == false">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <label for="code">Confirmation code</label>
                        <input type="text" class="form-control" id="code"
                        required
                        [(ngModel)]="user.code" name="code"
                        #code="ngModel" pattern="^[0-9]+$">
                        <div [hidden]="code.valid ||!code.touched"
                            class="alert alert-danger">
                            Code is required and can only contain numbers
                        </div>
                        <a href="#">Resend confirmation code.</a>
                    </div>
                </div>   
            </div>

            <div class="row">      
                <div class="col-md-10 offset-md-1">
                  <button type="button" class="btn btn-success btn-block" [disabled]="!userForm.form.valid" (click)="confirm()">Confirm</button>
                </div>
            </div>
        </form>

    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-10 offset-md-4">
        <h2>{{err}}</h2>
    </div>   
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div *ngFor="let tweet of tweets | async; index as i; first as isFirst">
            <app-tweet [tweet] = "tweet"></app-tweet>
        </div>
    </div>
</div>







