<div class="container">
    <div>
            <form #userForm="ngForm" (submit)="register()">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control gray" id="username" required
                                        [(ngModel)]="user.username" name="name"
                                        #name="ngModel" pattern="^(?=[a-z0-9._]{5,25}$)(?!.*[_.]{2})[^_.].*[^_.]$">
                                <div [hidden]="name.valid || !name.touched"
                                        class="alert alert-danger">
                                        Username is required and must be all lowercase letter, can include numbers and "_",""." symbols
                                </div>
                            </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-10 offset-md-1">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control gray" id="password" required
                                        [(ngModel)]="user.password" name="password"
                                        #password="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[,@$!._?&-])[A-Za-z\d,@$!._?&-]{8,}$">
                                <div [hidden]="password.valid || !password.touched"
                                        class="alert alert-danger">
                                        Password is required, and must include one uppercase letter, one lower case letter, one special symbol and one number
                                </div>       
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                          <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control gray" id="email" required
                                      [(ngModel)]="user.email" name="email"
                                      #email="ngModel" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                                <div [hidden]="email.valid || !email.touched"
                                      class="alert alert-danger">
                                      Email is required and must be valid
                                </div>       
                          </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                          <div class="form-group">
                                <label for="companyName">Company name</label>
                                <input type="text" class="form-control gray" id="companyName" required
                                      [(ngModel)]="user.companyName" name="companyName"
                                      #companyName="ngModel">
                                <div [hidden]="companyName.valid || !companyName.touched"
                                      class="alert alert-danger">
                                      Company name is required
                                </div>       
                          </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                                <label for="webSite">Web site</label>
                                <input type="text" class="form-control gray" id="webSite" required
                                    [(ngModel)]="user.webSite" name="webSite"
                                    #webSite="ngModel">
                                <div [hidden]="webSite.valid || !webSite.touched"
                                    class="alert alert-danger">
                                    Web site is required
                                </div>       
                        </div>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                            <button type="submit" class="btn btn-success btn-block" [disabled]="!userForm.form.valid" (click)="register()">Register</button>
                    </div>
                </div>

            </form>
      </div>
      <br/>
      <br/>
</div>

