.blue {
    background-color: #1DA1F2;
}

.gray {
    border-color: #657786;
    background-color: #E1E8ED;
}

.white {
    color: white;
}

.twitter {
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #14171A;
}

a:link {
    text-decoration: none;
}

.modal{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .modal-backdrop{
    position: relative;
}

.modal-content {
    background: #657786;
    border: 1.5px solid #AAB8C2;
}

.card {
    background-color: #657786;
    padding: 5px;
    border: 1.5px solid #AAB8C2;
}

.border {
    border: 1.5px solid #AAB8C2;
}