<br/>
<div class="container">
    <div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label for="username">Username</label>
                <input type="text" class="form-control gray" id="username" readonly>
            </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="companyName">Company name</label>
                    <input type="text" class="form-control gray" id="companyName" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="email">Email</label>
                    <input type="text" class="form-control gray" id="email" readonly>
                </div>
        </div>

        <div class="row">
                <div class="col-md-10 offset-md-1">
                    <label for="webSite">Web site</label>
                    <input type="text" class="form-control gray" id="webSite" readonly>
                </div>
        </div>

    </div>
</div>
<br/>





