<br/>
<div class="row">
      <div class="col-md-10 offset-md-2">
            <button class="btn btn-secondary" *ngIf="register" (click)="switchForm()">Business account</button>
      </div>
      <div class="col-md-10 offset-md-2">
            <button class="btn btn-primary btn-block" *ngIf="!register" (click)="switchForm()">Regular account</button>
      </div>      
</div>
<br/>
<app-register-user *ngIf="register; else elseBlock"></app-register-user>
<ng-template #elseBlock>
      <app-register-business-user></app-register-business-user>
</ng-template>